<ion-list>
  <ion-item>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    <ion-label>
      <h2>Titulo de la nota</h2>
      <p>Descripcion de la nota</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    <ion-label>
      <h2>Cita con el dentista</h2>
      <p>Cita en el consultorio a las 6pm</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    <ion-label>
      <h2>Hacer la tarea</h2>
      <p>Empezar la tarea el fin de semana</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    <ion-label>
      <h2>Esperar el pedido de Amazon</h2>
      <p>Manaña debo esperar a que llegue mi pedido</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    <ion-label>
      <h2>Nota de clase</h2>
      <p>Examen de química el día viernes</p>
    </ion-label>
  </ion-item>
</ion-list>

<ion-grid>
  <ion-row >
    <ion-col>
      <ion-button expand="block">Agregar</ion-button>
    </ion-col> 
  </ion-row>
</ion-grid>

