<ion-grid>
  <ion-row>
    <ion-list lines="full" class="ion-no-margin">
      <ion-list-header lines="full">
        <p>Rellena los siguientes campos</p>
      </ion-list-header>
      <ion-item>
        <ion-label>Usuario</ion-label>
        <ion-input placeholder="usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-input placeholder="contraseña"></ion-input>
      </ion-item>
    </ion-list>
  </ion-row>

  <ion-row><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></ion-row>

  <ion-row >
    <ion-col>
      <ion-button expand="block">Iniciar</ion-button>
    </ion-col> 
  </ion-row>
</ion-grid>


